:root
{
    --white-color: #ffffff;
    --black-color: #000000;
    --orange-color: #cf6d17;
    --grey-color: #949494;
}

*
{
    margin: 0;
    padding: 0;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;

    scroll-behavior: smooth;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header
{
    display: flex;
    justify-content: end;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-image: url(../img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    height: 50%;
    min-height: 250px;
}

header>nav
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>nav>ul
{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
header>nav>p
{
    margin-left: 0;
    margin-right: 0;
    color: var(--white-color);
    width: 50%;
    min-width: 150px;
    text-align: center;
    font-size: large;
    padding: 1%;
    margin-bottom: 1%;
}

header>nav>ul>li
{
    list-style: none;
    width: 20%;
    min-width: 150px;
    text-align: center;
}

header>nav a
{
    font-size: x-large;
    text-decoration: none;
    color: var(--white-color);
}

header>nav a:hover
{
    color: var(--orange-color);
}

header>img
{
    width: 325px; 
}

/* Main */
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main>h1
{
    margin-top: 3%;
}

main>section
{
    margin-top: 5%;
    width: 100%;
}

/* Main aboutMe */

main>section#aboutMe
{
    margin: 1%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    min-width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    border-radius: 25px;
    color: var(--white-color);
}

main>section#aboutMe>*
{
    padding: 1%;
}

main>section#aboutMe>h1
{
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    border-radius: 25px;
}

main>section#aboutMe>a
{
    text-decoration: none;
    color: var(--white-color);
}

main>section#aboutMe>a>button
{
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 25px;
    width: 70%;
    min-width: 150px;
}

main>section#aboutMe>a>button:hover
{
    transition-duration: 0.4s;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

/* Main compétences & experiences */
main>section#compétences
{
    display: flex;
    flex-wrap: wrap;
    color: var(--white-color);
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    align-items: center;
}

h1.title
{
   border-bottom: 2px solid var(--orange-color);
   padding: 1%;
}

main>section#compétences>h1
{
    margin-top: 3%;
    padding: 1%;
}

main>section#compétences>section.description
{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main>section#compétences>section.description>article
{
    margin-top: 2%;
    width: 48%;
    padding: 1%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>section#compétences>section.description>article>*
{
    margin-top: 1%;
}

main>section#compétences>section.description>article>p
{
    width: 60%;
    min-width: 250px;
}

main>section#compétences>article>p
{
    width: 40%;
    padding: 3%;
}

main>section#compétences>article.small
{
    width: 50%;
}

main>section#compétences>article{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>section#compétences>article.large
{
    width: 100%;
    display: flex;
}

main>section#compétences>article>h1
{
    width: 100%;
}

main>section#compétences>article>section>img
{
    width: 2%;
    min-width: 50px;
    padding: 2%;
    margin-top: 1%;
}

main>section#compétences>article>section>img:hover
{
    transform: scale(1.2);
    transition-duration: 0.4s;
}

main>section#compétences>article.job
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

main>section#compétences>article.job>section
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}

main>section#compétences>article.job>section>article
{
    width: 40%;
    margin-top: 2%;
    min-width: 300px;
    padding: 1%;
}

main>section#compétences>article.job>section>article:hover
{
    transform: scale(1.1);
    transition-duration: 0.4s;
}

main>section#compétences>article.job>section>article>h1>a
{
    color: var(--white-color);
}

main>section#compétences>article.job>section>article>h1>a:hover
{
    color: var(--orange-color);
}

/* Main => Projets */
main>section#projets
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main>section#projets>article
{
    margin: 1%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    min-width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    border-radius: 25px;
    color: var(--white-color);
}

main>section#projets>article>*
{
    padding: 2%;
}

main>section#projets>article.little
{
    height: 80%;
    align-self: flex-end;
}

main>section#projets>article.big
{
    height: 100%;
}

main>section#projets>article>h1
{
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    border-radius: 25px;
}

main>section#projets>article>p
{
    width: 80%;
    height: 100%;
}

main>section#projets>article>a>button
{
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 25px;
    width: 70%;
    min-width: 150px;
}

main>section#projets>article>a>button:hover
{
    transition-duration: 0.4s;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

p
{
    line-height: 1.5;
}

p>span
{
    color: var(--orange-color);
}

/* Main => Contact */
main>section#contact
{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main>section#contact>*
{
    color: var(--white-color);
    margin-top: 2%;
}

main>section#contact>a
{
    color: var(--white-color);
    text-decoration: none;
    width: 15%;
    min-width: 250px;
}

main>section#contact>a:hover>h1
{
    border: 1px solid var(--white-color);
}

main>section#contact>a>h1
{
    background-color: var(--orange-color);
    border-radius: 25px;
    font-size:large;
    padding: 3%;
    border: 1px solid var(--orange-color);
}

main>section#contact>p
{
    color: var(--white-color);
}

main>section#contact>form
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

main>section#contact>form>input
{
    background-color: transparent;
    border: none;
    margin: 1%;
    color: var(--white-color);
}

::-webkit-input-placeholder
{
    color: var(--white-color);
    padding: 1%;
}

main>section#contact>form>input:nth-child(1)
{
    border-bottom: 1px solid var(--white-color);
    padding: 1%;
}

main>section#contact>form>input:nth-child(1),main>section#contact>form>input:nth-child(2)
{
    width: 100%;
}

main>section#contact>form>input:nth-child(2)
{
    border: 1px solid var(--white-color);   
    height: 10vh;
}

main>section#contact>button
{
    background-color: var(--orange-color);
    border-radius: 25px;
    width: 15%;
    min-width: 250px;
    border: 1px solid var(--orange-color);
    font-size: large;
}

main>section#contact>button:hover
{
    border: 1px solid var(--white-color);
}

main>section#contact>section
{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 1%;
}

main>section#contact>section>a
{
    text-decoration: none;
}

main>section#contact>section>a:hover
{
    transform: scale(1.2);
    transition-duration: 0.4s;
}

main>section#contact>section>a>img
{
    width: 20%;
    min-width: 25px;
}

/* Footer */
footer
{
    color: var(--white-color);
    display: flex;
    background-color: var(--black-color);
    width: 100%;
    flex-direction: column;
    align-items: center;
}

footer>ul
{
    display: flex;
    width: 90%;
}

footer>ul>li
{
    padding: 1%;
    text-align: center;
    list-style: none;
    width: 25%;
}

footer a
{
    text-decoration: none;
    color: var(--white-color);
}

footer a:hover
{
    color: var(--orange-color);
}

footer p
{
    margin-bottom: 1%;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 var(--grey-color);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--grey-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-color);
}

.ascenseur
{
    position: fixed;
    bottom: 0;
    left: 0;
    color: red;
}